@font-face {
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    src: local('Holtwood One SC'), local('HoltwoodOneSC'), url(/theme/fonts/holtwoodonesc.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(/theme/fonts/ubuntu.woff) format('woff');
}

html, body { height: 100%; }
body { 
    font-family: 'Ubuntu'; 
    background-image: url(../images/bg.png);
    font-size: 12px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Holtwood One SC';
    margin: 0; padding: 0;
}
a {
    color: #F36C00;
    text-decoration: none;
}
hr { 
    margin: 20px 10px; 
    background-color: #ccc;
    height: 1px;
    border: 0;
}


/* UTILITY CLASSES */
.lfloat { float: left; }
.rfloat { float: right; }
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
    width: 1000px;
}
.body { 
    padding-bottom: 160px; 
}

/******** HEADER ********/
.wrapper > header {
    margin: 50px 0 100px 0;
}
.wrapper > header > h1 { 
    font-size: 4em;
}
.wrapper > header h1:nth-child(1) {
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.3); 
}
.wrapper > header h1:nth-child(2) { 
    position: relative;
    z-index: -1;
    top: -15px;
    text-align: right;
}

/******** FOOTER ********/
body > footer {
    position: relative;
    height: 160px;
    top: -160px;
    background-color: #111;
}
body > footer a {
    color: #fff;
}
body > footer h4 {
    font-family: 'Ubuntu'; 
    margin: 0 0 10px 0; padding: 0;
    color: #fff;
}
body > footer > div.wrap > div {
    margin-right: 100px;
}

body > footer .wrap {
    width: 850px;
    margin: 0 auto;
    padding-top: 20px;
}

/* NAV */
nav { width: 140px; text-align: right; }
nav > ul { list-style-type: none; margin: 0; padding: 0; }
nav > ul > li { position: relative; -webkit-transition-property: left; -webkit-transition-duration: .2s; }
nav > ul > li:hover:not(.active) { left: -10px; }
nav > ul > li.active { left: -10px; }
nav > ul > li > a { color: #fff; font-family: 'Holtwood One SC';  font-size: 1.2em; }
nav > ul > li.active { -webkit-transform: rotate(0) !important; }
nav > ul > li.active > a { color: #000; }
nav > ul.links > li:nth-child(odd) { -webkit-transform: rotate(-3deg); }
nav > ul.links > li:nth-child(even) { -webkit-transform: rotate(3deg); }

.body > .content {
    margin-left: 180px;
}

.stamp {
    background-color: #000;
    color: #fff;
    margin: 0; padding: 0 0.6em;
}

article > h1
{
    font-size: 1.8em;
}
article > h1 > a
{
    color: #000;
    -webkit-transition-property: color text-shadow;
    -webkit-transition-duration: .2s;
}
article > h2 > a:hover {
    color: #F36C00;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
article > div.content {
    margin: 20px 10px; 
}
article > div.summary,
div.entry-content {
    margin: 10px 15px;
}

.lrot { -webkit-transform: rotate(-5deg); }
.rrot { -webkit-transform: rotate(5deg); }

.rfloat { float: right; }
.float { float: left; }

.social { 
    padding: 5px 0 5px 5px; 
}
.social, .social a { width: 32px; height: 32px; }
.social a { 
    display: inline-block; 
    background-repeat: no-repeat; 
    opacity: 0.3; 
    -webkit-transition-property: opacity; 
    -webkit-transition-duration: .5s;
}
.social a:hover { opacity: 1; } 

/* Icons */
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/icons/github.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}

/* TODO */
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
.social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
