<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta charset="utf-8" />
        {% endblock head %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/base.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                {% if SITESUBTITLES %}
                    <h1 class="stamp lrot">{{ SITESUBTITLES[0] }}</h1>
                    <h1 class="stamp rrot rfloat">{{ SITESUBTITLES[1] }}</h1>
                {% else %}
                    <h1 class="stamp lrot">{{ SITESUBTITLE }}</h1>
                {% endif %}
            </header>
            {% include 'nav.html' %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'analytics.html' %}
    </body>
</html>
