{% extends 'base.html' %}

{% block content %}
{% set idx = 0 %}
{% for article in articles_page.object_list %}
    <article>
        <header>
            <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        </header>
        <footer>
            {{ article.locale_date }} | <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread"</a>comments</a>
        </footer>
        <div class="content">{{ article.summary }}</div>
    </article>
    {% set idx = idx + 1 %}
    {% if idx < articles_page.object_list|length %}
    <hr/>
    {% endif %}
{% endfor %}
{% endblock %}
